{% extends "base.html" %}

{% block contents %}
    <style>
        @import url(/presentation/static/source_highlight.css);
    </style>
    <h1 class="header">{{ title }}</h1>
    
    <table class="list tiles">
        {% for point in points %}
            <tr>
                <td class="tile" url="{{ next }}">
                    {{ point.title }}
                    <span style="font-size: 70%">{{ point.subtitle }}</span>
    {% if point.image %}{{ point.image|safe }}{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}